body {
    font-family: Arial, sans-serif;
    background-color: #0056b3;
}

#microondas {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.numeric-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    text-align: center;
}
