@{
    ViewData["Title"] = "Aquecimento Iniciado";
}

<h2>@ViewData["Title"]</h2>
<p>@ViewBag.Message</p>
<p>@ViewBag.Processo</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Voltar</a>
