@model List<string>

@{
    ViewData["Title"] = "Microondas Digital";
}
<div class="text-center">
    <form asp-action="IniciarAquecimento" method="post">
        <div class="tempo">
            <label for="tempoEmSegundos" class="form-label">Tempo (em segundos)</label>
            <input type="number" class="form-control" id="tempoEmSegundos" name="tempoEmSegundos" placeholder="Digite o tempo">
        </div>

        <div class="tempo-formatado">
            <label for="tempoFormatado" class="form-label">Tempo Formatado</label>
            <input type="text" class="form-control" id="tempoFormatado" placeholder="Tempo formatado" readonly>
        </div>

        <div class="potencia">
            <br /><label for="potencia" class="form-label">Selecione a potência</label> <br />
            <select class="select-potencia form-control" name="potencia" aria-label="Default select example">
                <option value="10" selected>10</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
        </div>

        <div class="programa">
            <br /><label for="programa" class="form-label">Selecione o Programa</label><br />
            <select class="select-programa form-control" name="programa" aria-label="Default select example">
                @foreach (var programa in Model)
                {
                    <option value="@programa">@programa</option>
                }
            </select>
        </div>

        <div class="d-grid gap-2">
            <br /><button class="btn btn-warning" type="submit">Iniciar/+30s</button>
            <button class="btn btn-danger" type="button">Cancelar/Pausar</button>
            <a class="btn btn-success" role="button" asp-controller="Home" asp-action="VerProgramas">Ver Programas</a>
            <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="CadastrarPrograma">Cadastrar Programas</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('tempoEmSegundos').addEventListener('input', function () {
            var tempoEmSegundos = parseInt(this.value, 10);
            var tempoFormatado = formatTime(tempoEmSegundos);
            document.getElementById('tempoFormatado').value = tempoFormatado;
        });

        function formatTime(tempoEmSegundos) {
            if (isNaN(tempoEmSegundos) || tempoEmSegundos < 0) {
                return '';
            }

            if (tempoEmSegundos < 60) {
                return tempoEmSegundos + ' segundos';
            } else {
                var minutos = Math.floor(tempoEmSegundos / 60);
                var segundos = tempoEmSegundos % 60;
                return minutos + ':' + (segundos < 10 ? '0' : '') + segundos + ' minutos';
            }
        }
    </script>
}
